<!DOCTYPE html>

<html>
<head>
    <title>Paginatio</title>
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" media="all" />
    <style>
        body {
            background-color: #eee;
        }

        .container {
            background-color: white;
            border: 1px solid lightgray;
            border-top: none;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>